{% extends "bootstrap/base.html" %}

{% block title %}
Login
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">
{% endblock %}

{% block content %}
{% import "bootstrap/wtf.html" as wtf %}
<style>
  body{
   background-image: url('/static/bg1.png');
   color: white;
   font-family: "Georgia"

   }

   </style>

    <div class="container" style="font-size:20px;">
      <form class="form-signin" method="POST" action="/login">
        <h2 class="form-signin-heading" style="font-size:40px;">Please sign in</h2><br>
        {{ form.hidden_tag()}}
          {{ wtf.form_field(form.username) }}
          {{ wtf.form_field(form.password) }}

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
          <h1>{{ Data5 }}</h1>
      </form>

    </div> <!-- /container -->
    </div>
{% endblock %}